header {
    background: rgb(174, 0, 0);
    color: rgb(140, 0, 0);
    padding: 10px 0;
    text-align: center;
}

nav {
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.3);
}
